#embedded_map
{
    width:95vw;
    height:95vh;
    border-radius: 20px;
    background-color: whitesmoke;
}

#trip_summary_table
{
    width: 310px;
    height: 150px;
    position: absolute;
    top: 450px;
    left: 3%;
    z-index: 1;  
    border-radius: 20px;
    visibility: hidden;
}

.trip_stats
{
    width: 50px;
    text-align: center;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
}