<table id="embedded_search" class="primary_color secondary_color">
    <tr>
        <th id="app_title" class="text_format">
            
            <img id="charger_icon" src="../../../assets/chargingStation.png" alt="Image of charging station.">
            <label class="switch">
                <input id="fuel_button" type="checkbox" (click)="requestChangeFuel()">
                <span class="slider"></span>
            </label>
            <img id="gas_icon" src="../../../assets/gasStation.png" alt="Image of gas station.">
            JouleJourney
        </th>
    </tr>

    <tr>
        <td>
            <label for="origin_input" class="text_format">Origin</label>
            <input id="origin_input" type="text" placeholder="Enter the name of a place" maxlength="20" autofocus>
        </td>
    </tr>

    <tr>
        <td>
            <label for="destination_input" class="text_format">Destination</label>
            <input id="destination_input" type="text" placeholder="Enter the name of a place" maxlength="20">
        </td>
    </tr>

    <tr>
        <td>
            <label for="range_input" class="text_format">Vehicle Range (KM)</label>
            <input id="range_input" type="number" placeholder="Enter a number" min="50" max="1000">
        </td>
    </tr>

    <tr>
        <td>
            <input id="navigate_button" class="accent_color text_format" type="button" value="Navigate" (click)="requestJourney()">
        </td>
    </tr>

</table>
